@import '../../skins/index.scss';

.d3-timeline-graph {
  position: relative;

  &__xAxis {
    path {
      stroke: transparent;
    }
    text {
      fill: setColor('light-grey');
    }
    .tick {
      line {
          stroke: transparent;
      }
    }
  }

  &__yAxis {
    text {
      fill: setColor('light-grey');
      font-weight: setFontWeight('normal');

      &.precision {
        fill: setColor('highlighted-purple');
      }

      &.topLabel {
        fill: setColor('bright-green');
      }
    }
  
      path {
        stroke-dasharray: 3, 3;
        stroke: setColor('light-grey');
      }
  }

  &__lines {
    path {
      fill: none;
    }
  }

  &__dashedLineGroup {
    line {
      stroke-dasharray: 3, 3;
      stroke: setColor('light-grey');
    }
  }
}


g {
    .line {
        fill: none;
    }
    .area {
        fill-opacity: 0.2;
    }
}
