@import '../../skins/index.scss';

.d3-timeline-graph {
  position: relative;

  @include element('xAxis') {
    path {
      stroke: transparent;
    }
    text {
      fill: setColor('light-grey');
    }
    .tick {
      line {
          stroke: transparent;
      }
    }
  }

  @include element('yAxis') {
    text {
      fill: setColor('light-grey');
      font-weight: setFontWeight('normal');

      &.precision {
        fill: setColor('highlighted-purple');
      }

      &.topLabel {
        fill: setColor('bright-green');
      }
    }

      path {
        stroke-dasharray: 3, 3;
        stroke: setColor('light-grey');
      }
  }

  @include element('lines') {
    path {
      fill: none;
    }
  }

  @include element('dashedLineGroup') {
    line {
      stroke-dasharray: 3, 3;
      stroke: setColor('light-grey');
    }
  }

  @include element('points') {
    circle {
      cursor: pointer;
    }
  }

  @include element('tooltip') {
    opacity: 0;
    position: absolute;

    background-color: setColor('white');
    border-radius: 3px;
    transform: translate(-50%, 20px);
  }
}


g {
    .line {
        fill: none;
    }
    .area {
        fill-opacity: 0.2;
    }
}

.tooltip {
  @include element('title') {
    p {
      margin: 0;
    }
  }
}
