@import '../../skins/index.scss';

// .female {
//   color: setColor('red');
//   stroke: setColor('red');
//   fill: setColor('red');
//   background: setColor('red');
// }

// .male {
//   color: setColor('yellow');
//   stroke: setColor('yellow');
//   fill: setColor('yellow');
//   background: setColor('yellow');
// }

.d3-timeline-graph {
  position: relative;

  &__xAxis {
    path {
      stroke: transparent;
    }
    text {
      fill: setColor('light-grey');
    }
    .tick {
      line {
          stroke: transparent;
      }
    }
  }

  &__yAxis {
    text {
      fill: setColor('light-grey');
      font-weight: setFontWeight('normal');

      &.precision {
        fill: setColor('highlighted-purple');
      }

      &.topLabel {
        fill: setColor('bright-green');
      }
    }
  
      path {
        stroke-dasharray: 3, 3;
        stroke: setColor('light-grey');
      }
  }

  &__lines {
    path {
      fill: none;
    }
  }
}


g {
    .line {
        fill: none;
    }
    .area {
        fill-opacity: 0.2;
    }
}
