$font-weights: (
    "thin": 300,
    "normal": 400,
    "semibold": 500,
    "bold": 700,
  );
  @function setFontWeight($key) {
    @if not map-has-key($font-weights, $key) {
      @warn "Key `#{$key}` not found in $font-weights map.";
    }
    @return map-get($font-weights, $key);
  }

  $font-sizes: (
    "h1": 1.8em,
    "h2": 1.6em,
    "h3": 1.4em,
    "h4": 1.2em,
    "h5": 1em,
    "h6": 0.9em,
    "small": 0.7em,
  );
  @function setFontSize($key) {
    @if not map-has-key($font-sizes, $key) {
      @warn "Key `#{$key}` not found in $font-sizes map.";
    }
    @return map-get($font-sizes, $key);
  }

  @mixin typography($color: null, $size: "h4", $weight: "normal") {
    @if ($color) {
      color: $color;
    }
    font-size: setFontSize($size);
    font-weight: setFontWeight($weight);
  }

  @mixin truncate($size: 120px) {
    width: $size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @mixin H1($col) {
    @include typography($color: $col, $size: "h1", $weight: "normal");
    line-height: 1.13;
    letter-spacing: -0.4px;
  }

  @mixin H2($col) {
    @include typography($color: $col, $size: "h2", $weight: "normal");
    line-height: 1.5;
    letter-spacing: -0.4px;
  }

  @mixin H3($col) {
    @include typography($color: $col, $size: "h3", $weight: "normal");
    line-height: 1.8;
    letter-spacing: -0.2px;
  }

  @mixin H4($col) {
    @include typography($color: $col, $size: "h4", $weight: "normal");
    line-height: 2;
    letter-spacing: -0.3px;
  }

  @mixin H5($col) {
    @include typography($color: $col, $size: "h5", $weight: "normal");
    line-height: 1.75;
    letter-spacing: -0.2px;
  }

  @mixin small($col) {
    @include typography($color: $col, $size: "small", $weight: "semibold");
    letter-spacing: -0.3px;
  }
