@import '../../skins/index.scss';

.header {
  @include flex(row);
  align-items: center;
  justify-content: flex-end;

  @include element('title') {
    font-size: setFontSize('h3');
    color: setColor('mid-grey');

    padding: 0 setSize('normal');
  }
}
