@import '../../skins/index.scss';

.d3-world-map {
    position: relative;

    @include flex($direction: row);
    justify-content: center;

    path {
        fill: setColor('white');
        stroke: setColor('mid-grey');
        stroke-width: 0.3;
        opacity: 0.8;
      }

    .connection {
        stroke: setColor('orange');
        stroke-width: 1px;
        fill: none;
    }

    .points {
      circle {
        cursor: pointer;
      }
    }

    @include element('tooltip') {
      opacity: 0;
      position: absolute;

      background-color: setColor('white');
      transform: translate(-50%, 20px);

      .tooltip {
        font-size: 1.4em;
      }
    }
}
