@import '../../skins/index.scss';

.legend {
  @include element('list') {
    @include flex(row);
  }
  @include element('item') {
    @include flex(row);
    align-items: center;
    padding: 10px;
    width: 100%;
    font-size: 1.5em;

    p {
      margin: 0;
      padding: 5px;
    }

    @include modifier('circle') {
      width: 20px;
      height: 20px;
    }

    @include modifier('img') {
      width: 35px;
      height: 35px;
    }
  }
}

@media only screen and (max-width: 690px) {
  .legend {
    @include element('list') {
      @include flex(column);
    }
    @include element('item') {
      padding: 4px;
      font-size: 2em;
    }
  }
}
